$black: #000000;
$white: #ffffff;
$snow: #fff1f1;

$text-color: #1a1a1a;
$footer-background: #f7f4ef;
$smoke-white: #f4f4f4;
$no-search-result-bg: #f8f8f8;

$get-the-look-border: #dadada;
$get-the-look-block: #a0c1c0;

$customer-service-help-bg: #f8f8f8;
