$space-1: 0.07142857142857142em;
$space-2: 0.14285714285714285em;
$space-3: 0.21428571428571427em;
$space-4: 0.2857142857142857em;
$space-5: 0.35714285714285715em;
$space-7: 0.4714285714285714em;
$space-8: 0.5714285714285714em;
$space-10: 0.7142857142857143em;
$space-12: 0.8571428571428571em;
$space-13: 0.9285714285714286em;
$space-14: 1em;
$space-15: 1.0714285714285714em;
$space-16: 1.1428571428571428em;
$space-17: 1.2142857142857142em;
$space-18: 1.2857142857142858em;
$space-19: 1.3571428571428572em;
$space-20: 1.4285714285714286em;
$space-21: 1.5em;
$space-22: 1.5714285714285714em;
$space-23: 1.6428571428571428em;
$space-24: 1.7142857142857142em;
$space-25: 1.7857142857142858em;
$space-27: 1.9285714285714286em;
$space-29: 2.0914285714285716em;
$space-30: 2.142857142857143em;
$space-31: 2.2142857142857144em;
$space-33: 2.357142857142857em;
$space-34: 2.4285714285714284em;
$space-35: 2.5em;
$space-40: 2.857142857142857em;
$space-45: 3.2142857142857144em;
$space-50: 3.5714285714285716em;
$space-51: 3.642857142857143em;
$space-54: 3.857142857142857em;
$space-60: 4.285714285714286em;
$space-63: 4.5em;
$space-65: 4.642857142857143em;
$space-70: 5.714285714285714em;
$space-80: 5.714285714285714em;
$space-85: 6.071428571428571em;
$space-90: 6.428571428571429em;
$space-100: 7.142857142857143em;
$space-110: 7.857142857142857em;
$space-120: 8.571428571428571em;
$space-130: 9.285714285714286em;
$space-140: 10em;
$space-150: 10.714285714285714em;
$space-165: 11.785714285714286em;
$space-175: 12.5em;
$space-180: 12.857142857142858em;
$space-200: 14.285714285714286em;
$space-224: 16em;
$space-225: 16.071428571428573em;
$space-230: 16.428571428571427em;
$space-240: 17.142857142857142em;
$space-250: 17.857142857142858em;
$space-260: 18.571428571428573em;
$space-270: 19.285714285714285em;
$space-300: 21.428571428571427em;
$space-320: 22.857142857142858em;
$space-358: 25.571428571428573em;
$space-363: 25.928571428571427em;
$space-448: 32em;
$space-480: 34.285714285714285em;
$space-500: 35.714285714285715em;
$space-530: 37.57142857142857em;
$space-540: 38.57142857142857em;
$space-561: 40.07142857142857em;
$space-670: 47.857142857142854em;
$space-685: 48.92857142857143em;
$space-750: 53.57142857142857em;
$space-850: 60.714285714285715em;
$space-895: 64.28571428571429em;
