$size-70: 5rem;
$size-60: 4.286rem;
$size-43: 3.071rem;
$size-40: 2.857;
$size-37: 2.643rem;
$size-31: 2.214rem;
$size-27: 1.929rem;
$size-26: 1.857rem;
$size-24: 1.714rem;
$size-23: 1.643rem;
$size-22: 1.571rem;
$size-21: 1.5rem;
$size-20: 1.429rem;
$size-19: 1.357rem;
$size-18: 1.286rem;
$size-16: 1.143rem;
$size-15: 1.071rem;
$size-14: 1rem;
$size-13: 0.929rem;
$size-12: 0.857rem;
$size-10: 0.714rem;
$size-9: 0.643rem;
$size-3: 0.214rem;
$size-2: 0.143rem;
$size-1andhalf: 0.107rem;